body {
    width: 1600px;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;

}

/* start of banner section  */

.new-year-banner {
    background-image: url('../Image/Banner-Image.png');
    /* opacity: 85%; */
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 50px 140px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}

/* .overlay {
    position: absolute;
    border-radius: 16px;
    margin: 50px 140px 60px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
} */

.new-year-title {
    color: #7cbbc4f5;
    /* text-align: center; */
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

.new-year-party {
    width: 632px;
    color: #61b7c2f5;
    margin-top: 10px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}

/* end of banner section  */

/* start of discount section  */
.discount-section {}

.discount-info {
    text-align: center;
}

.discount-offer {
    margin-top: 120px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-quality {
    margin-top: 48px;
    margin-bottom: 10px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-categories {
    margin-top: 0px;
    margin-bottom: 48px;
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-image {
    margin: 48px 399px 120px 399px;
    width: 802.9px;
    height: 500px;
}

/* end of discount section  */

/* start of invitation section  */

.invitation-banner {
    width: 1320px;
    height: 600px;
    margin: 120px 140px;
    display: flex;
    gap: 39px;
    /* justify-content: center;
    align-items: center; */
    background-image: url('../Image/Vectorrr.png');

}

.invitation-info {}

.invitation-title {
    width: 642px;
    padding-left: 126px;
    padding-top: 70px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    font-family: Merriweather;
}

.invitation-details {
    padding-left: 126px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.invitation-button {
    width: 170px;
    height: 45px;
    border: 4px solid rgb(255, 166, 0);
    border-radius: 5px;
    margin-left: 158px;
    padding-left: 8px;
    color: #070707;
    background: linear-gradient(45deg, rgb(238, 226, 204), rgb(231, 193, 123), rgb(226, 168, 60));
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.invitation-button:hover {
    color: rgb(255, 166, 0);
    background: #070707;
}

.invitation-image {
    margin-top: 77px;
}

/* end of invitation section  */
/* start of location section  */
.location-bannar {
    width: 1320px;
    height: 482px;
    margin: 120px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
}

.location-info {
    padding: 100px 385px 214px;
}

.location-section {
    color: red;
}

.location-button {
    border: 2px solid #F00;
    height: 35px;
    width: 110px;
    border-radius: 8px;
    background: #F00;
    color: white;
}

.location-button:hover {
    color: #F00;
    background: white;
}

/* end of location section */
/* start of upcoming section */

.upcoming-banner {
    width: 1600px;
    /* height: 7335px; */
    background: #ffffff;
    display: flex;
    /* align-content: center;
    justify-content: center; */
    gap: 70px;
}

.upcoming-offer {
    position: relative;
    margin-left: 140px;
    margin-top: 89px;
}

.upcoming-offer-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.upcoming-offer-soon {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.upcoming-offer-details {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.upcoming-image {
    width: 364.844px;
    height: 364.844px;
    border: 15px solid rgb(170, 79, 79);
    border-radius: 364.844px;
    padding: 41px;
    /* margin-top: 4px; */
}

.upcoming-year {
    padding-right: 140px;
    margin-top: 89px;
}

.upcoming-year-time {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.upcoming-year-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}

.upcoming-year-image {
    position: absolute;
    width: 140px;
    height: 140px;
}