body {
    width: 1600px;
    font-family: 'Merriweather', serif;
    font-family: 'Inter', sans-serif;

}

/* start of banner section  */

.new-year-banner {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Image/Banner-Image.png');
    border-radius: 16px;
    width: 1320px;
    height: 600px;
    margin: 50px 140px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
}


.new-year-title {
    color: hsl(5, 41%, 87%);
    /* text-align: center; */
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

.new-year-party {
    width: 632px;
    color: hsl(5, 41%, 87%);
    margin-top: 10px;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    text-align: center;
}

/* end of banner section  */

/* start of discount section  */
.discount-section {}

.discount-info {
    text-align: center;
}

.discount-offer {
    margin-top: 120px;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.discount-quality {
    margin-top: 48px;
    margin-bottom: 10px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.discount-categories {
    margin-top: 0px;
    margin-bottom: 48px;
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.discount-image {
    margin: 48px 399px 120px 399px;
    width: 802.9px;
    height: 500px;
}

/* end of discount section  */

/* start of invitation section  */

.invitation-banner {
    width: 1320px;
    height: 600px;
    margin: 120px 140px;
    display: flex;
    gap: 39px;
    /* justify-content: center;
    align-items: center; */
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Image/Vectorrr.png');
    background: ;

}

.overlay-invitation {
    width: 1320px;
    height: 600px;
    margin: 120px 140px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.699), rgba(0, rgba(0, 0, 0, 0), 0.342), black);
}

.invitation-info {}

.invitation-title {
    width: 642px;
    padding-left: 126px;
    padding-top: 70px;
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    font-family: Merriweather;
}

.invitation-details {
    padding-left: 126px;
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.invitation-button {
    width: 170px;
    height: 45px;
    border: 4px solid rgb(255, 166, 0);
    border-radius: 5px;
    margin-left: 158px;
    padding-left: 8px;
    color: #070707;
    background: linear-gradient(45deg, rgb(238, 226, 204), rgb(231, 193, 123), rgb(226, 168, 60));
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

.invitation-button:hover {
    color: rgb(255, 166, 0);
    background: #070707;
}

.invitation-image {
    margin-top: 77px;
}

/* end of invitation section  */
/* start of location section  */
.location-bannar {
    width: 1320px;
    height: 482px;
    margin: 120px 140px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    text-align: center;
}

.location-info {
    padding: 100px 385px 214px;
}

.location-section {
    color: red;
}

.location-button {
    border: 2px solid #F00;
    height: 35px;
    width: 110px;
    border-radius: 8px;
    background: #F00;
    color: white;
}

.location-button:hover {
    color: #F00;
    background: white;
}

/* end of location section */
/* start of upcoming section */

.upcoming-banner {
    width: 1600px;
    /* height: 7335px; */
    background: #ffffff;
    display: flex;
    /* align-content: center;
    justify-content: center; */
    gap: 70px;
    margin-bottom: 160px;
}

.upcoming-offer {
    position: relative;
    margin-left: 140px;
    margin-top: 89px;
}

.upcoming-offer-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.upcoming-offer-soon {
    margin-top: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}

.upcoming-offer-details {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.upcoming-image {
    width: 364.844px;
    height: 364.844px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 364.844px;
    padding: 41px;
}

.upcoming-year {
    padding-right: 140px;
    margin-top: 89px;
}

.upcoming-year-time {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0px;
}

.upcoming-year-details {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0px;
}

.upcoming-year-image {
    position: absolute;
    width: 140px;
    height: 140px;
}

/* end of upcoming section */
/* start of hollyday section */

.hollyday-section {
    margin-top: 160px;
    margin-bottom: 160;
}

.hollyday-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.ollyday-small-title {
    margin-bottom: 0px;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}

.hollyday-title {
    margin-top: 0px;
    margin-bottom: 28px;
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;

}

.hollyday-span {
    color: #F00;
}

.hollyday-description {
    width: 1068px;
    margin-top: 0px;
    margin-bottom: 64px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.hollyday-image {
    height: 726px;
    width: 1320px;
    position: relative;
    margin-left: 140px;
    margin-right: 140px;
    background-color: #FFF;
}

.hollyday-background-red {
    width: 1320px;
    height: 229px;
    background-image: url('../Image/Rectangle\ 2.png');
    background-repeat: no-repeat;
    position: absolute;
    /* top: ; */
    bottom: 0px;
}

.hollyday-image-giftbox {
    position: absolute;
    bottom: 0px;

}

.hollyday-background-girl {
    width: 429px;
    height: 433px;
    background-image: url('../Image/Rectangle\ 1.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: 229px;
    left: 891px;
}

.hollyday-image-discount {
    width: 206.841px;
    height: 206.841px;
    position: absolute;
    bottom: 59.5px;
    right: 320px;
}

/* end of hollyday section */
/* start of gift section */

.gift-banner {
    margin-top: 160px;
    margin-left: 140px;
    margin-right: 140px;
}

.gift-info {}

.gift-best {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-titile {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.gift-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px
}

.gift-photo-table {
    margin: 6px 0px;
}

tr,
td {
    padding: 6px;
}

.gift-photo-container {
    margin-bottom: 100px;

}

.gift-photo:hover {
    border: 4px solid red;
    border-radius: 21px;
}

/* end of gift section */
/* start of subscribe section  */

.subscribe-section {
    width: 1320px;
    height: 616px;
    margin: 120px 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subscribe-image {}

.subscribe-info {
    text-align: center;

}

.subscribe-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.subscribe-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.subscribe-input {
    margin-top: 48px;
    display: flex;
    justify-content: center;
    /* gap: 0px; */
    background-color: white;
    /* border: 4px solid; */
}

.subscribe-email {
    width: 434px;
    height: 68px;
    padding-left: 30px;
    outline: none;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background-color: white;
    color: rgba(7, 2, 17, 0.986);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.subscribe-button {
    width: 210px;
    height: 72px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
}

.subscribe-button:hover {
    color: #F00;
    background-color: white;
    border: 2px solid red;
}

/* end of subscribe section */
/* end of main section */
/* start of footer section */

.footer-section {
    width: 1600px;
    height: 609px;
    background: #070211;
}

.footer-part {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.footer-part-1 {
    height: 160px;
    display: flex;
    justify-content: space-between;
    gap: 500px;
    padding: 120px 140px 50px;
    position: relative;
}

.footer-address {
    width: 375px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.footer-contact-container {
    /* padding-top: 22px; */
}

.footer-icon-1 {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 370px;
    top: 147px;
}

.footer-icon-2 {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 370px;
    bottom: 114px;
}

.footer-contact-1 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding-right: 10px;
    margin-bottom: 0px;
}

.footer-contact-2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-top: 0px;
}
.horizontal-line{
    height: 1px;
    width: 1320px;    
    background-color:rgba(255, 255, 255, 0.15);
    position: absolute;
    left: 120px;
    top: 250px;
}

.footer-section-part-2{
    position: relative;
    height: 160px;
}
.footer-icon-container {
    height: 0px;
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;    
}

.horizontal-line-2{
    height: 1px;
    width: 1320px;    
    background-color:rgba(255, 255, 255, 0.15);
    position: absolute;
    bottom: 90px;
    left: 122px;
}

